
/*Tienda*/

.card-img-top {
    height: 180px;
    object-fit: cover;
    margin: 50px auto 0 auto; 
   
}


.container-tienda {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 20px;               
}

.card {
    
    flex: 0 1 300px;            
    max-width: 350px;          
    box-sizing: border-box;     
}